* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: rgb(248, 249, 250);
  align-items: center;
  text-align: center;
  justify-content: space-around;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 10;
}
.image img {
  height: 160px;
  width: 170px;
}
.navigation {
  display: flex;
  gap: 20px;
}
.navigation a {
  text-decoration: none;
  color: black;
  font-size: larger;
}
.navigation a:hover {
  color: rgb(11, 141, 240);
}
.Login_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}
.login {
  border: 1px solid rgb(30, 140, 243);
  border-radius: 5px;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.login a {
  text-decoration: none;
  color: rgb(5, 5, 5);
}
.Sign {
  border: 1px solid rgb(30, 140, 243);
  border-radius: 5px;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.Sign a {
  text-decoration: none;
  color: black;
}
.login:hover,
.Sign:hover {
  background-color: rgb(32, 13, 239);
  cursor: pointer;
}
.login a:hover,
.Sign a:hover {
  color: white;
}
.hero {
  margin-top: 70px;
  height: 250px;
  text-align: center;
  align-items: center;
  padding: 80px 20px 80px;
  background: linear-gradient(
      to bottom,
      rgba(4, 117, 247, 0.3),
      rgba(3, 78, 253, 0)
    ),
    url("../images/background image.png");
  background-size: cover;
  background-position: bottom;
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: white;
}
.hero p {
  font-size: x-large;
  margin-bottom: 30px;
  color: white;
}
.Box1 {
  background-color: rgb(255, 254, 254);
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.box3 {
  display: flex;
  justify-content: start;
  gap: 20px;
  margin-top: 20px;
}
.box4 p i {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(170, 177, 195);
  padding: 10px;
  color: rgb(86, 86, 218);
}
.box5 p {
  color: rgb(44, 44, 44);
}
.Container1 {
  background-color: rgb(249, 247, 247);
  box-shadow: 0px 0px 10px 0px rgba(2, 2, 2, 0.1);
  border-radius: 10px;
  height: 450px;
  width: 29%;
}
.Container1 h1 {
  text-align: center;
  align-items: center;
  margin: 20px;
  color: rgb(42, 42, 185);
}
.detail {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 40px;
}

.detail input {
  border-radius: 5px;
  border: 1px solid gray;
  height: 30px;
  width: 100%;
}
.name input {
  margin-top: 10px;
}
.email input {
  margin-top: 10px;
}
.email select {
  border-radius: 5px;
  border: 1px solid gray;
  height: 30px;
  width: 100%;
  margin-top: 10px;
}

.message {
  margin-top: 20px;
  text-align: start;
  align-items: center;
  margin-left: 40px;
}
.message textarea {
  width: 80%;
  height: 100px;
  border-radius: 10px;
  border: 1px solid gray;
  margin: 10px;
}
.btn {
  text-align: center;
  margin: 20px;
}
.btn button {
  width: 90%;
  height: 30px;
  background-color: rgb(23, 64, 214);
  color: white;
  border: none;
  border-radius: 5px;
}
.btn button:hover {
  background-color: blue;
}
footer {
  background-color: rgb(18, 17, 17);
}
.main_section {
  display: flex;
  justify-content: space-around;
  height: 200px;
  overflow: hidden;
}
.media p {
  color: white;
  margin-top: -27px;
}
.media img {
  height: 130px;
  width: 40%;
}
.icons {
  display: flex;
  gap: 10px;
  margin: 10px;
}
.icons button {
  height: 20px;
  width: 30px;
  border-radius: 5px;
  border: none;
}
.icons button:hover {
  background-color: rgb(20, 159, 215);
}
.link {
  margin: 20px;
}
.link h2 {
  margin-bottom: 15px;
  color: white;
}
.tags a {
  display: block;
  margin: 8px 0;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.tags a:hover {
  color: white;
  text-decoration: underline;
}
.contact {
  margin: 20px;
}
.contact h2 {
  margin-bottom: 15px;
  color: white;
}
.contact p {
  font-size: 16px;
  margin: 8px 0;
  color: white;
  display: flex;
  align-items: center;
}
.contact i {
  margin-right: 10px;
  font-size: 18px;
  color: white;
}
.copyright p {
  align-items: center;
  text-align: center;
  color: white;
  margin: 10px;
}
