* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: rgb(248, 249, 250);
  align-items: center;
  text-align: center;
  justify-content: space-around;
  overflow: hidden;
  position: fixed;
  z-index: 5;
  top: 0;
}
.image img {
  height: 160px;
  width: 170px;
}
.navigation {
  display: flex;
  gap: 20px;
}
.navigation a {
  text-decoration: none;
  color: black;
  font-size: larger;
}
.navigation a:hover {
  color: rgb(11, 141, 240);
}
.Login_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}
.login {
  border: 1px solid rgb(30, 140, 243);
  border-radius: 5px;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.login a {
  text-decoration: none;
  color: rgb(5, 5, 5);
}
.Sign {
  border: 1px solid rgb(30, 140, 243);
  border-radius: 5px;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.Sign a {
  text-decoration: none;
  color: black;
}
.login:hover,
.Sign:hover {
  background-color: rgb(32, 13, 239);
  cursor: pointer;
}
.login a:hover,
.Sign a:hover {
  color: white;
}
.Reserve_box {
  margin-top: 90px;
  text-align: start;
  padding: 20px;
  font-size: large;
  width: 100%;
  height: 100vh;
  background-color: white;
}
.Reserve_box a {
  text-decoration: none;
  color: rgb(12, 115, 250);
  font-weight: bold;
  padding: 20px;
  margin-left: 80px;
}
.Reserve_box a:hover {
  color: black;
}
.Reserve_box h3 {
  margin-top: 5px;
  padding: 20px;
  margin-left: 80px;
}
.Reserve_box1 {
  display: flex;
  justify-content: space-around;
  align-items: start;
  margin-top: 20px;
}
.reserve_form {
  display: flex;
  width: 45%;
  height: 550px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(2, 2, 2, 0.1);
  align-items: start;
  justify-content: start;
}
.Book_detl {
  display: flex;
  justify-content: start;
  gap: 50px;
  margin-left: 20px;
  margin-top: 5px;
}
.Book_detl input {
  height: 30px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid gray;
}
.Book_detl label {
  font-size: medium;
}
.noofguest {
  margin-top: 20px;
  margin-left: 20px;
}
.noofguest label {
  font-size: medium;
}
.noofguest input {
  height: 30px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid gray;
}
.your_info {
  display: flex;
  justify-content: start;
  gap: 50px;
  margin-left: 20px;
  margin-top: 5px;
}
.your_info input {
  height: 30px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid gray;
}
.your_info label {
  font-size: medium;
}
.phone {
  margin-top: 20px;
  margin-left: 20px;
}
.phone label {
  font-size: medium;
}
.phone input {
  height: 30px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid gray;
}
.policy p {
  font-size: medium;
  margin-left: 20px;
  margin-top: 20px;
  width: 600px;
  border-radius: 5px;
  background-color: rgb(206, 224, 212);
  align-items: center;
  height: 40px;
  display: flex;
  align-items: center;
}
.policy p i {
  margin-right: 10px;
  color: rgb(27, 107, 246);
  margin-top: -15px;
}
.confirm {
  margin-top: 30px;
  text-align: center;
}
.confirm-btn {
  height: 40px;
  width: 500px;
  background-color: rgb(8, 8, 251);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 10px;
}
.confirm-btn:hover {
  background-color: rgb(3, 3, 190);
  cursor: pointer;
}
.booking_summary {
  height: 570px;
  width: 350px;
  margin-left: 50px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(2, 2, 2, 0.1);
  border-radius: 5px;
}
.booking_img img {
  height: 200px;
  width: 95%;
  border-radius: 5px;
  margin-top: -10px;
  margin-left: 10px;
}
.homes_name h3 {
  margin-left: start;
  margin-top: -10px;
  color: rgb(7, 7, 7);
}
.homes_name p {
  margin-left: 20px;
  margin-top: -10px;
  color: rgb(46, 46, 46);
}
.price_detail {
  margin-left: 20px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.price_detail p {
  font-size: 16px;
}
.total_amount {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.total_amount p {
  font-size: 18px;
  font-weight: bold;
}
.Secure {
  margin-left: 20px;
  margin-top: 20px;
  background-color: rgb(202, 221, 202);
  color: green;
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Secure p {
  font-size: 16px;
  display: flex;
  gap: 10px;
}
footer {
  background-color: rgb(18, 17, 17);
}
.main_section {
  display: flex;
  justify-content: space-around;
  height: 200px;
  overflow: hidden;
}
.media p {
  color: white;
  margin-top: -27px;
}
.media img {
  height: 130px;
  width: 40%;
}
.icons {
  display: flex;
  gap: 10px;
  margin: 10px;
}
.icons button {
  height: 20px;
  width: 30px;
  border-radius: 5px;
  border: none;
}
.icons button:hover {
  background-color: rgb(20, 159, 215);
}
.link {
  margin: 20px;
}
.link h2 {
  margin-bottom: 15px;
  color: white;
}
.tags a {
  display: block;
  margin: 8px 0;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.tags a:hover {
  color: white;
  text-decoration: underline;
}
.contact {
  margin: 20px;
}
.contact h2 {
  margin-bottom: 15px;
  color: white;
}
.contact p {
  font-size: 16px;
  margin: 8px 0;
  color: white;
  display: flex;
  align-items: center;
}
.contact i {
  margin-right: 10px;
  font-size: 18px;
  color: white;
}
.copyright p {
  align-items: center;
  text-align: center;
  color: white;
  margin: 10px;
}
