* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: rgb(248, 249, 250);
  align-items: center;
  text-align: center;
  justify-content: space-around;
  overflow: hidden;
  /* position: fixed;
  z-index: 5;
  top: 0; */
}
.image img {
  height: 160px;
  width: 170px;
}
.navigation {
  display: flex;
  gap: 20px;
}
.navigation a {
  text-decoration: none;
  color: black;
  font-size: larger;
}
.navigation a:hover {
  color: rgb(11, 141, 240);
}
.Login_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}
.login {
  border: 1px solid rgb(30, 140, 243);
  border-radius: 5px;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.login a {
  text-decoration: none;
  color: rgb(5, 5, 5);
}
.Sign {
  border: 1px solid rgb(30, 140, 243);
  border-radius: 5px;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.Sign a {
  text-decoration: none;
  color: black;
}
.login:hover,
.Sign:hover {
  background-color: rgb(32, 13, 239);
  cursor: pointer;
}
.login a:hover,
.Sign a:hover {
  color: white;
}
.Reserve_box {
  margin-top: 50px;
  text-align: start;
  padding: 20px;
  font-size: large;
  width: 100%;
  height: 250px;
}
.Reserve_box a {
  text-decoration: none;
  color: rgb(12, 115, 250);
  font-weight: bold;
  padding: 20px;
}
.Reserve_box a:hover {
  color: black;
}
.Reserve_box h3 {
  margin-top: 5px;
  padding: 20px;
}
