* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: rgb(248, 249, 250);
  align-items: center;
  text-align: center;
  justify-content: space-around;
  overflow: hidden;
  /* position: fixed;
  z-index: 5;
  top: 0; */
}
.image img {
  height: 160px;
  width: 170px;
}
.navigation {
  display: flex;
  gap: 20px;
}
.navigation a {
  text-decoration: none;
  color: black;
  font-size: larger;
}
.navigation a:hover {
  color: rgb(11, 141, 240);
}
.Login_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}
.login {
  border: 1px solid rgb(30, 140, 243);
  border-radius: 5px;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.login a {
  text-decoration: none;
  color: rgb(5, 5, 5);
}
.Sign {
  border: 1px solid rgb(30, 140, 243);
  border-radius: 5px;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.Sign a {
  text-decoration: none;
  color: black;
}
.login:hover,
.Sign:hover {
  background-color: rgb(32, 13, 239);
  cursor: pointer;
}
.login a:hover,
.Sign a:hover {
  color: white;
}
.Booking_box {
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
}
.Booking h2,
.Booking p {
  margin-bottom: 20px;
  align-items: center;
}
.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.tab_s {
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: gray;
}

.tab_s:hover {
  background-color: whitesmoke;
}

.tab {
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  background-color: rgb(0, 140, 255);
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.main_section {
  margin-top: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
}
.main_section h3 {
  margin-bottom: 20px;
  align-items: center;
}
.Images img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: -20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.check_clas {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.check_clas label {
  font-size: 14px;
  color: rgb(79, 78, 78);
  margin-bottom: 5px;
}
.Booked_time p {
  font-size: 16px;
  color: rgb(7, 7, 7);
  margin-bottom: 5px;
  margin-top: 15px;
}
.time_travel {
  display: flex;
  gap: 80px;
}
.view_section {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  padding: 20px;
}
.Booking_view {
  margin-top: 5px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.main_view {
  width: 100%;
}
.main_view p {
  font-size: 16px;
  color: rgb(7, 7, 7);
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: rgb(185, 234, 185);
  height: 30px;
  align-items: center;
  text-align: center;
  padding-top: 5px;
}
.view_button button {
  background-color: white;
  border: 1px solid rgb(0, 140, 255);
  border-radius: 5px;
  height: 30px;
  width: 200%;
  cursor: pointer;
  flex: 1;
}
.message_btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 150px;
}
.Message button {
  background-color: white;
  border: 1px solid rgb(0, 140, 255);
  border-radius: 5px;
  height: 30px;
  width: 90%;
  cursor: pointer;
  flex: 1;
  margin-left: 100px;
}
.Cancel button {
  background-color: white;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 5px;
  height: 30px;
  width: 90%;
  cursor: pointer;
  flex: 1;
  margin-left: 100px;
}
.main_views {
  width: 100%;
}
.main_views p {
  font-size: 16px;
  color: rgb(7, 7, 7);
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: rgb(235, 203, 73);
  height: 30px;
  align-items: center;
  text-align: center;
  padding-top: 5px;
}
footer {
  background-color: rgb(18, 17, 17);
  margin-top: 5%;
}
.main_section {
  display: flex;
  justify-content: space-around;
  height: 250px;
  overflow: hidden;
}
.media p {
  color: white;
  margin-top: -27px;
}
.media img {
  height: 130px;
  width: 40%;
}
.icons {
  display: flex;
  gap: 10px;
  margin: 10px;
}
.icons button {
  height: 20px;
  width: 30px;
  border-radius: 5px;
  border: none;
}
.icons button:hover {
  background-color: rgb(20, 159, 215);
}
.link {
  margin: 20px;
}
.link h2 {
  margin-bottom: 15px;
  color: white;
}
.tags a {
  display: block;
  margin: 8px 0;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.tags a:hover {
  color: white;
  text-decoration: underline;
}
.contact {
  margin-top: -30px;
}
.contact h2 {
  margin-bottom: 10px;
  color: white;
}
.contact p {
  font-size: 16px;
  margin: 8px 0;
  color: white;
  display: flex;
  align-items: center;
}
.contact i {
  margin-right: 10px;
  font-size: 18px;
  color: white;
}
.copyright p {
  align-items: center;
  text-align: center;
  color: white;
  margin: 10px;
}
