* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: rgb(248, 249, 250);
  align-items: center;
  text-align: center;
  justify-content: space-around;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 10;
}
.image img {
  height: 160px;
  width: 170px;
}
.navigation {
  display: flex;
  gap: 20px;
}
.navigation a {
  text-decoration: none;
  color: black;
  font-size: larger;
}
.navigation a:hover {
  color: rgb(11, 141, 240);
}
.Login_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}
.login {
  border: 1px solid rgb(30, 140, 243);
  border-radius: 5px;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.login a {
  text-decoration: none;
  color: rgb(5, 5, 5);
}
.Sign {
  border: 1px solid rgb(30, 140, 243);
  border-radius: 5px;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.Sign a {
  text-decoration: none;
  color: black;
}
.login:hover,
.Sign:hover {
  background-color: rgb(32, 13, 239);
  cursor: pointer;
}
.login a:hover,
.Sign a:hover {
  color: white;
}
.hero {
  margin-top: 70px;
  height: 350px;
  text-align: center;
  align-items: center;
  padding: 100px 20px 80px;
  background: linear-gradient(
      to bottom,
      rgba(10, 25, 47, 0.3),
      rgba(0, 0, 0, 0)
    ),
    url("images/background image.png");
  background-size: cover;
  background-position: bottom;
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: white;
}
.hero p {
  font-size: large;
  margin-bottom: 30px;
  color: white;
}
.Region {
  display: flex;
  justify-content: start;
  margin: 30px;
  gap: 20px;
  margin-left: 110px;
}
.all_region option {
  font-weight: normal;
  font-size: medium;
}
#region {
  border-radius: 5px;
  height: 25px;
  color: black;
}
#category {
  border-radius: 5px;
  height: 25px;
  color: black;
}

.Destination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 10px;
}
.Container h1 {
  color: rgb(6, 6, 6);
  font-weight: bold;
  font-size: 2rem;
}
.Container p {
  font-size: 1.1rem;
  color: rgb(58, 57, 57);
  margin-top: 10px;
}
.Container_text {
  position: relative;
  width: 300px;
  height: 400px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.Container_text img:hover {
  transform: translateY(-5px);
}
.Container_text img {
  width: 100%;
  height: 200px;
  border-radius: 4px;
}
.Container_text a {
  text-decoration: none;
  color: rgb(25, 66, 247);
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.Container_text i {
  font-size: medium;
}
.Container_text a:hover {
  text-decoration: underline;
}
.Container_text h3 {
  margin-top: 10px;
}
.Container_text p {
  margin: 5px;
}
footer {
  background-color: rgb(18, 17, 17);
}
.main_section {
  display: flex;
  justify-content: space-around;
  height: 200px;
  overflow: hidden;
}
.media p {
  color: white;
  margin-top: -27px;
}
.media img {
  height: 130px;
  width: 40%;
}
.icons {
  display: flex;
  gap: 10px;
  margin: 10px;
}
.icons button {
  height: 20px;
  width: 30px;
  border-radius: 5px;
  border: none;
}
.icons button:hover {
  background-color: rgb(20, 69, 215);
}
.link {
  margin: 20px;
}
.link h2 {
  margin-bottom: 15px;
  color: white;
}
.tags a {
  display: block;
  margin: 8px 0;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.tags a:hover {
  color: white;
  text-decoration: underline;
}
.contact {
  margin: 20px;
}
.contact h2 {
  margin-bottom: 15px;
  color: white;
}
.contact p {
  font-size: 16px;
  margin: 8px 0;
  color: white;
  display: flex;
  align-items: center;
}
.contact i {
  margin-right: 10px;
  font-size: 18px;
  color: white;
}
.copyright p {
  align-items: center;
  text-align: center;
  color: white;
  margin: 10px;
}
.place_details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.nepal_side {
  color: rgb(9, 57, 248);
  font-weight: bold;
}
