* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: rgb(248, 249, 250);
  align-items: center;
  text-align: center;
  justify-content: space-around;
  overflow: hidden;
}
.image img {
  height: 160px;
  width: 170px;
}
.navigation {
  display: flex;
  gap: 20px;
}
.navigation a {
  text-decoration: none;
  color: black;
  font-size: larger;
}
.navigation a:hover {
  color: rgb(11, 141, 240);
}
.Login_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}
.login {
  border: 1px solid rgb(30, 140, 243);
  border-radius: 5px;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.login a {
  text-decoration: none;
  color: rgb(5, 5, 5);
}
.Sign {
  border: 1px solid rgb(30, 140, 243);
  border-radius: 5px;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.Sign a {
  text-decoration: none;
  color: black;
}
.login:hover,
.Sign:hover {
  background-color: rgb(32, 13, 239);
  cursor: pointer;
}
.login a:hover,
.Sign a:hover {
  color: white;
}
.main_container {
  background-color: rgb(252, 251, 249);
  height: 100vh;
  margin: 20px;
}
.main_container h1 {
  align-items: center;
  text-align: start;
  margin: 20px;
  padding: 20px;
  margin-left: 70px;
}
.content {
  display: flex;
  justify-content: start;
  gap: 20px;
  padding: 20px;
  margin-top: -50px;
  margin-left: 70px;
}
.review p {
  color: rgb(55, 55, 55);
}
.location p {
  color: rgb(57, 56, 56);
}
.location p i {
  color: gray;
}
.image_section {
  background-color: rgb(214, 214, 213);
  height: 510px;
  width: 50%;
  border-radius: 10px;
}
.main_img img:hover {
  transform: translateY(-1px);
  border: 3px solid rgb(100, 149, 238);
}
.img1 img {
  width: 100%;
  height: 360px;
  border-radius: 10px;
}
.main_img {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.main_img img {
  height: 140px;
  width: 100%;
  border-radius: 5px;
}
.reserve_box {
  background-color: white(238, 239, 240);
  height: 300px;
  width: 25%;
  box-shadow: 0px 0px 10px 0px rgba(2, 2, 2, 0.1);
  border-radius: 10px;
}
.checking {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-top: 20px;
  gap: 70px;
}
.Box1 p,
.Box2 p {
  font-weight: bold;
  font-size: 20px;
}
.check_detail {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
}
.check_detail label {
  font-weight: bold;
}
.check_detail input {
  border-radius: 5px;
  border: 1px solid gray;
  height: 30px;
  width: 130%;
}
.Guests {
  text-align: start;
  margin-left: 40px;
}
.Guests label {
  font-weight: bold;
}
.Guests select {
  border-radius: 5px;
  height: 30px;
  width: 80%;
  border: 1px solid gray;
}
.reserve_btn {
  text-align: center;
  margin: 20px;
}
.reserve_btn button {
  width: 90%;
  border-radius: 5px;
  border: none;
  background-color: rgb(43, 104, 217);
  color: white;
  height: 30px;
  margin-top: 20px;
}
.reserve_btn button:hover {
  background-color: blue;
}
.main_box {
  display: flex;
  justify-content: space-around;
}
.text_box {
  background-color: rgb(253, 252, 252);
  width: 50%;
  margin-left: 90px;
  height: 100vh;
}
.text1 h1 {
  text-align: start;
  align-items: start;
  margin-left: -10px;
}
.text1 p {
  text-align: start;
  align-items: center;
  margin-top: -30px;
  margin-left: 10px;
  font-size: 16px;
  color: rgb(34, 34, 34);
}
.facilities h1 {
  text-align: start;
  align-items: center;
  margin-left: -10px;
  margin-top: -10px;
}
.facilities_content {
  display: flex;
  justify-content: space-around;
  gap: 70px;
  margin-top: 20px;
}
.facilities_content i {
  color: green;
}
.available_room h1 {
  margin-top: 10px;
  text-align: start;
  align-items: center;
  margin-left: -10px;
}
.Room_box {
  border: 1px solid gray;
  border-radius: 5px;
  height: 80px;
  margin-top: -20px;
  margin-left: 10px;
}
.Room_box p {
  font-size: 20px;
  margin-left: 10px;
}
.Room_No {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.room1 p {
  color: rgb(63, 63, 63);
  font-size: 16px;
}
.room1 i {
  font-size: small;
}
