* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: rgb(248, 249, 250);
  align-items: center;
  text-align: center;
  justify-content: space-around;
  overflow: hidden;
}
.image img {
  height: 100px;
  width: 120px;
}
.navigation {
  display: flex;
  gap: 20px;
}
.navigation a {
  text-decoration: none;
  color: black;
  font-size: larger;
}
.navigation a:hover {
  color: rgb(11, 141, 240);
}
.Login_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}
.login {
  border: 1px solid rgb(70, 187, 234);
  border-radius: 5px;
  height: 30px;
  width: 80px;
  display: flex;
  /* background-color: rgb(39, 183, 240); */
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.login a {
  text-decoration: none;
  color: rgb(5, 5, 5);
}
.Sign {
  border: 1px solid rgb(63, 194, 246);
  border-radius: 5px;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.Sign a {
  text-decoration: none;
  color: black;
}
.login:hover,
.Sign:hover {
  background-color: rgb(13, 175, 239);
  cursor: pointer;
}
.login a:hover,
.Sign a:hover {
  color: white;
}
.hero {
  height: 550px;
  position: relative;
  text-align: center;
  align-items: center;
  padding: 80px 20px;
  background: linear-gradient(
      to bottom,
      rgba(10, 25, 47, 0.3),
      rgba(0, 0, 0, 0)
    ),
    url("images/background image.png");
  background-size: cover;
  background-position: bottom;
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: white;
}
.hero p {
  font-size: large;
  margin-bottom: 30px;
  color: white;
}
.action-buttons button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: rgb(12, 119, 220);
  color: rgb(252, 250, 250);
  border-radius: 4px;
  cursor: pointer;
}
.action-buttons button:hover {
  background-color: rgb(2, 144, 253);
  color: rgb(253, 251, 251);
}
.Container {
  padding: 60px 20px;
  text-align: center;
}
.Container h1 {
  color: rgb(6, 6, 6);
  font-weight: bold;
  font-size: 2rem;
}
.Container p {
  font-size: 1.1rem;
  color: rgb(58, 57, 57);
  margin-bottom: 40px;
}
.Container_text {
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  transition: transform 0.3s ease;
}
.Container_text:hover {
  transform: translateY(-5px);
}
.Container_text img {
  height: 150px;
  width: 100%;
  border-radius: 4px;
}
