* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: rgb(248, 249, 250);
  align-items: center;
  text-align: center;
  justify-content: space-around;
  overflow: hidden;
}
.image img {
  height: 100px;
  width: 120px;
}
.navigation {
  display: flex;
  gap: 20px;
}
.navigation a {
  text-decoration: none;
  color: black;
  font-size: larger;
}
.navigation a:hover {
  color: rgb(11, 141, 240);
}
.Login_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}
.login {
  border: 1px solid rgb(70, 187, 234);
  border-radius: 5px;
  height: 30px;
  width: 80px;
  display: flex;
  /* background-color: rgb(39, 183, 240); */
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.login a {
  text-decoration: none;
  color: rgb(5, 5, 5);
}
.Sign {
  border: 1px solid rgb(63, 194, 246);
  border-radius: 5px;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.Sign a {
  text-decoration: none;
  color: black;
}
.login:hover,
.Sign:hover {
  background-color: rgb(13, 175, 239);
  cursor: pointer;
}
.login a:hover,
.Sign a:hover {
  color: white;
}
.hero {
  height: 550px;
  position: relative;
  text-align: center;
  align-items: center;
  padding: 80px 20px;
  background: linear-gradient(
      to bottom,
      rgba(10, 25, 47, 0.3),
      rgba(0, 0, 0, 0)
    ),
    url("images/background image.png");
  background-size: cover;
  background-position: bottom;
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: white;
}
.hero p {
  font-size: large;
  margin-bottom: 30px;
  color: white;
}
.action-buttons button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: rgb(12, 119, 220);
  color: rgb(252, 250, 250);
  border-radius: 4px;
  cursor: pointer;
}
.action-buttons button:hover {
  background-color: rgb(2, 144, 253);
  color: rgb(253, 251, 251);
}
.Container {
  padding: 60px 20px;
  text-align: center;
}
.Destination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 10px;
}
.Container h1 {
  color: rgb(6, 6, 6);
  font-weight: bold;
  font-size: 2rem;
}
.Container p {
  font-size: 1.1rem;
  color: rgb(58, 57, 57);
  margin-top: 10px;
}
.Container_text {
  position: relative;
  width: 300px;
  height: 300px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.Container_text img:hover {
  transform: translateY(-5px);
}
.Container_text img {
  width: 100%;
  height: 200px;
  border-radius: 4px;
}
.Container_text a {
  text-decoration: none;
  color: rgb(2, 183, 255);
}
.Container_text a:hover {
  text-decoration: underline;
}
.Container_text h3 {
  margin-top: 10px;
}
.Container_text p {
  margin: 5px;
}
.Container1 {
  padding: 60px 20px;
  text-align: center;
}
.Container1 h1 {
  color: rgb(6, 6, 6);
  font-weight: bold;
  font-size: 2rem;
}
.Container1 p {
  font-size: 1.1rem;
  color: rgb(58, 57, 57);
  margin-top: 10px;
}
.Featured_destination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 10px;
}
.Destination1 {
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
  width: 400px;
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: left;
}
.Destination1 img:hover {
  transform: translateY(-5px);
}
.Destination1 p {
  color: rgb(45, 44, 44);
}
.Destination1 img {
  width: 100%;
  height: 200px;
  border-radius: 4px;
}
.home {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.homestays_name h3 {
  margin: 5px;
}
.Destination1 p {
  margin: 2px;
}
.price {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.Rs p {
  font-size: 14px;
  color: rgb(34, 34, 34);
}
.reviews p {
  font-size: 14px;
  color: rgb(37, 37, 37);
}
.Destination1 button {
  width: 70%;
  height: 30px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  margin-left: 50px;
  margin-top: 20px;
  background-color: rgb(7, 180, 249);
  border: 1px solid rgb(5, 179, 248);
  color: white;
}
.Destination1 button:hover {
  background-color: rgb(1, 135, 188);
}
.featured {
  padding: 80px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.featured p {
  font-size: large;
}
.discover-place {
  display: flex;
  justify-content: center;
  padding: 80px 20px;
  gap: 30px;
}
.Discovery {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(10, 10, 10, 0.1);
  padding: 25px;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}
.Discovery i {
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: 10px;
  color: rgb(12, 12, 12);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: rgb(227, 235, 241);
}
.Discovery h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: rgb(6, 6, 6);
}
.discover-place p {
  font-size: 1em;
  color: rgb(80, 80, 80);
}
.Discovery:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.community {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.community h1 {
  color: rgb(6, 6, 6);
  font-weight: bold;
}
.community p {
  font-size: large;
  color: rgb(58, 57, 57);
}
.review {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: white;
  gap: 50px;
}
.re-part {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 50%;
  padding: 20px;
  text-align: center;
}
.re-part:hover {
  transform: translateY(-5px);
}
.re-part1 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.re-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(250, 251, 251);
}
.re-detail {
  margin-top: 5px;
}
.re-detail h3 {
  font-size: 20px;
  margin: 5px 0 5px;
  color: rgb(6, 6, 6);
  text-align: left;
}
.re-detail p {
  margin: 5px 0 5px;
  font-size: 14px;
  font-weight: larger;
  text-align: left;
  color: rgb(9, 9, 9);
}
.re-detail p i {
  color: orange;
}
.re-info {
  text-align: start;
  color: rgb(58, 57, 57);
}
.re-info p {
  font-size: 16px;
  color: rgb(58, 57, 57);
}
.place {
  font-weight: bold;
  margin-top: 10px;
}
.place a {
  text-decoration: none;
  color: rgb(7, 148, 249);
}
.place a:hover {
  text-decoration: underline;
  color: rgb(3, 144, 251);
}
.explore {
  height: 400px;
  margin-top: 20px;
  background: linear-gradient(
      to bottom,
      rgba(10, 25, 47, 0.9),
      rgba(0, 0, 0, 0.2)
    ),
    url("images/image.png");
  background-size: cover;
  background-position: center;
  border-radius: none;
}
.explore1 {
  color: white;
  text-align: center;
  padding: 120px 20px;
}
.explore1 h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}
.explore1 p {
  font-size: 1.2em;
  margin-bottom: 30px;
}
.explore1 a {
  padding: 10px 20px;
  background-color: rgb(51, 134, 211);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}
.explore1 a:hover {
  background-color: rgb(3, 144, 252);
}
.Explore_button button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: rgb(7, 170, 245);
  color: rgb(252, 250, 250);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.Explore_button button:hover {
  background-color: rgb(2, 147, 251);
}
