* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(213, 211, 208);
}
.container1 {
  width: 420px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(2, 2, 2, 0.1);
  border-radius: 8px;
}
.images {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.images img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.container2 h1 {
  font-size: 22px;
  text-align: center;
  color: rgb(36, 35, 35);
}
.container2 p {
  text-align: center;
  color: rgb(27, 27, 27);
}
.main-box {
  margin-top: 20px;
}
.main-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-box label {
  font-size: 16px;
  color: rgb(12, 12, 12);
  font-weight: normal;
}
.main-box input {
  padding: 10px;
  border: 1px solid rgb(189, 187, 187);
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}
.container3 i {
  position: absolute;
  color: gray;
  margin-left: 10px;
  margin-top: 12px;
}
.container3 input {
  padding-left: 30px;
}
.signup button {
  width: 100%;
  padding: 10px;
  background-color: rgb(21, 135, 223);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
.signup a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
}
.signup button:hover {
  text-decoration: underline;
  background-color: rgb(1, 113, 198);
}
.Name-section {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 10px;
}
.Privacy {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}
.privacy2 a {
  text-decoration: none;
}
.privacy2 a:hover {
  text-decoration: underline;
}
.container4 {
  text-align: center;
  margin-top: 20px;
}
.container4 p {
  font-size: 16px;
  color: rgb(44, 43, 43);
}
.container4 a {
  text-decoration: none;
  color: rgb(9, 107, 245);
}
.container4 a:hover {
  text-decoration: underline;
}
footer {
  background-color: rgb(18, 17, 17);
}
.main_section {
  display: flex;
  justify-content: space-around;
  height: 200px;
  overflow: hidden;
}
.media p {
  color: white;
  margin-top: -27px;
}
.media img {
  height: 130px;
  width: 40%;
}
.icons {
  display: flex;
  gap: 10px;
  margin: 10px;
}
.icons button {
  height: 20px;
  width: 30px;
  border-radius: 5px;
  border: none;
}
.icons button:hover {
  background-color: rgb(20, 159, 215);
}
.link {
  margin: 20px;
}
.link h2 {
  margin-bottom: 15px;
  color: white;
}
.tags a {
  display: block;
  margin: 8px 0;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.tags a:hover {
  color: white;
  text-decoration: underline;
}
.contact {
  margin: 20px;
}
.contact h2 {
  margin-bottom: 15px;
  color: white;
}
.contact p {
  font-size: 16px;
  margin: 8px 0;
  color: white;
  display: flex;
  align-items: center;
}
.contact i {
  margin-right: 10px;
  font-size: 18px;
  color: white;
}
.copyright p {
  align-items: center;
  text-align: center;
  color: white;
  margin: 10px;
}
